
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
		<button ion-button color="danger" (click)="logOut()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-list>
	<ion-grid>
		<ion-row>
			<!--<img src="http://10.163.1.105:8080/uploads/registration/reg_image/{{speakerID}}/{{speakerImage}}">-->
			<ion-col></ion-col>
			<ion-col> 
				<img *ngIf="this.userData.userdata.participant_type != 'Speaker'" src="assets/images/defaultavatar.png">
				<img *ngIf="this.userData.userdata.participant_type == 'Speaker'" src="http://10.163.1.105:8080/uploads/registration/reg_image/{{this.userData.userdata.registrations_id}}/{{this.userData.userdata.reg_image}}">
			</ion-col>
			<ion-col></ion-col>
		</ion-row>
		<ion-row>
			<ion-card>
				<ion-item padding>
					<h2>Name : {{this.userData.userdata.reg_fullname}}</h2>
					<p>{{this.userData.userdata.reg_organization}}</p>
				</ion-item>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card>
				<ion-list-header>
					Oral Health Status
				</ion-list-header>
				<ion-item>
					<ion-label>Decay : {{this.userData.userdata.ohs_decay}} tooth</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Missing : {{this.userData.userdata.ohs_missing}} tooth</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Filled : {{this.userData.userdata.ohs_filled}} tooth</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Carries Risk Assessment : {{this.userData.userdata.ohs_risk}}</ion-label>
				</ion-item>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card>
				<ion-list-header>
					General Health Status
				</ion-list-header>
				<ion-item>
					<ion-label>BP : {{this.userData.userdata.ghs_bp}} mm/hg</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Heart Rate : {{this.userData.userdata.ghs_hr}} /min</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Blood Glucose : {{this.userData.userdata.ghs_bg}} mmol/l</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>BMI : {{this.userData.userdata.ghs_bmi}} kg/m2</ion-label>
				</ion-item>
			</ion-card>
		</ion-row>
		<ion-row>
			<ion-card>
				<ion-list-header>
					Smoking Cessation
				</ion-list-header>
				<ion-item>
					<ion-label>Carbon Monoxide : {{this.userData.userdata.sc_cm}} ppm</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Fagerstrom Test : {{this.userData.userdata.sc_test}}</ion-label>
				</ion-item>
			</ion-card>
		</ion-row>
	</ion-grid>
</ion-list>
</ion-content>
